*, *::before, *::after {
  box-sizing: border-box;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-7rem {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.py-7rem {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

#header {
  width: 100%;
  position: relative;
  background: #a59e9e;
}

.bg-header, .bg-darked {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.logo {
  width: 70px;
  height: 70px;
  background: red;
  border-radius: 20%;
}

.bg-header {
  background: url("../images/header-bg.webp");
  background-size: cover;
  background-position: fixed;
}

.bg-darked {
  background: rgba(0, 0, 0, 0.5);
}

.header-product {
  width: 1200px;
  max-width: 100%;
}

.header-image-inner {
  margin-top: 20px;
  padding-left: 110px;
  padding-right: 110px;
}

.header-image {
  max-width: 100%;
  margin-bottom: -100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.button-action, .button-transperent {
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px 20px;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}

.button-action {
  border: 5px solid #f30;
  background: #f30;
}

.button-transperent {
  border: 5px solid white;
  background: rgba(0, 0, 0, 0.3);
}

.button-action:hover {
  background: #cc2900;
}

.button-transperent:hover {
  background: #232323;
}

.pros-title {
  font-weight: 900;
}

#pros-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.text-red {
  color: #f30;
}

.pros-images, .pros-content {
  min-width: 50%;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  top: 80px;
}

.pros-images {
  flex-basis: 400px;
  flex-grow: 1;
  min-height: 400px;
  height: auto;
}

.pros-content {
  min-height: 100%;
  display: grid;
  align-content: center;
}

.main-image {
  margin-left: 25%;
  width: 75%;
  height: 100%;
}
.main-image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 50%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  display: inline-block;
  vertical-align: middle;
}

.minor-image {
  position: absolute;
  left: 10%;
  height: 100%;
  top: 0;
  bottom: 0;
  display: grid;
  align-content: center;
  z-index: 10;
}
.minor-image img {
  max-height: 60vh;
}